.main{
    padding: 80px 30px 30px 30px;

}

.username-span{
    padding-right:  10px;
    cursor: pointer;
}

.app-title{
    cursor: pointer;
}

.menu-item{
    margin: 20px;
}

.card-img-top {
    width: 100px;
    height: 180px;
    object-fit: cover;
}

.page-title{
    text-align: center;
}

.order-counter{
    display: inline-flex;
    align-content: center;
    margin-left: 50px;
    margin-right: 50px;
}

.plus-minus-button{
    margin: 5px;
}

.counter{
    border-style:solid;
    margin: 3px;
    padding: 3px;
    border-radius: 15px;
}

.order{
    border-style:solid;
    margin: 35px;
    padding: 20px;
    border-radius: 15px;
}

.order-title{
    font-size: x-large;
}

.title-button{
    margin-left: 10px;
    margin-right: 10px;
}

.empty-orders{
    border-style:solid;
    margin: 35px;
    padding: 20px;
    border-radius: 15px;
}

.right-aligned{
    justify-content:  flex-end;
}

.credits{
    cursor: pointer;
}

.footer{
    height: 35px;
}

.complete-order-button{
    margin-top:20px;
}